
body {
   width: 1600px;
   height: 2494px;
   position: relative;
}

footer {
   width: 1600px;
   margin: 200px;
}

p {
   font-size: 16px;
   font-style: normal;
   font-family: 'Helvetica Neue', sans-serif;
   position: relative;
   text-align: left;
   margin-left: 280px;
}

h1 {
   font-size: 75px;
   font-style: normal;
   font-family: Pacifico, sans-serif;
}

h2 {
   font-size: 36px;
   font-style: normal;
   font-family: Raleway, sans-serif;
   font-weight: lighter;
}

h3 {
   font-size: 24px;
   font-style: normal;
   font-family: raleway, sans-serif;
}

h4 {
   font-size: 22px;
   font-style: normal;
   font-family: raleway, sans-serif;
   font-weight: bold;
   margin-left: 280px;
}

.Logo {
   text-align: center;
   margin-top: -600px;
   margin-left: -200px;
   position: relative;
}

.Focus {
   margin-top: -80px;
   position: relative;
   margin-left: 760px;
}

.second {
   margin-top: 80px;
   margin-left: 500px;
}

.arrow {
   margin-top: 80px;
   margin-left: 775px;
}

.iphone {
   text-align:center;
   margin-top: 40px; 
}

.whitedot1 {
   text-align:center;
   margin-top: -620px;
   margin-left: 120px;
}

.whitedot2 {
   text-align:center;
   margin-top: 60px;
   margin-left: -160px;
}

.whitedot3 {
   text-align:center;
   margin-top: 200px;
   margin-left: -160px;
}

.blackdot {
   text-align:center;
   margin-top: -140px;
   margin-left: 120px;
}

.cursor {
   text-align:center;
   margin-top: -20px;
   margin-left: 130px;
}

.line {
   text-align:center;
   margin-top: -10px;
   margin-left: 265px;
}

.Feature1 {
   margin-top: -200px;
   margin-right: 1040px;
   margin-left: 0px;
}

.Feature2 {
   margin-top: -100px;
   margin-left: 750px;
   margin-right: 300px;
}

.Feature3 {
   margin-top: 100px;
   margin-right: 1040px;
   margin-left: 0px;
}

.Feature4 {
   margin-top: -80px;
   margin-right: 300px;
   margin-left: 750px;
}

.Getapp {
   margin-top: 300px;
   margin-left: -60px;
   margin-right: 860px;
}

.Apple {
   margin-left: 220px;
}

.Android {
   margin-left: 300px;
   margin-top: -70px;
}

.Windows {
   margin-left: 380px;
   margin-top: -70px;
}

.Cursor2 {
    margin-left: 420px;
    margin-top: -30px;
}

.Video {
    margin-top: -200px;
    margin-left: 860px;
}

.play {
    margin-top: -70px;
    margin-left: 880px;
}

.playbar {
   margin-top: -46px;
   margin-left: 970px;
   margin-bottom: 150px;
}

.Fourth {
    margin-left: 400px;
}

.name {
    margin-left: 460px;
    font-weight: bold;    
}

.person {
    margin-left: 915px;
   margin-top: -240px;
   margin-bottom: 100px;
}

.cursor3 {
    margin-top: -140px;
    margin-left: 925px;
    margin-bottom: 100px;
}

